* {
  margin: 0;
  box-sizing: border-box;
}

.root {
  background: linear-gradient(0deg, #3b4664, #3b4664);
  border: 1px solid #000000;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  left: 40%;
}
.head {
  position: relative;
  width: 58px;
  height: 20px;
  top: 55px;
  margin-bottom: 70px;
}
.head p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

#display {
  width: 280px;
  height: 70px;
  top: 194px;
  left: 466px;
  border-radius: 12px;
  background: #181f32;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  outline: none;
  color: white;
  text-align: right;
  font-family: Segoe UI;
  font-size: 25px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0.1em;
  text-align: right;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
}
#display p {
  float: right;
}
.key {
  position: relative;
  width: 280px;
  height: 255px;
  border-radius: 12px;
  background: #252d44;
  top: 13px;
}
#grid {
  position: relative;
  display: grid;
  grid-template-rows: 30px 30px 30px 30px;
  grid-template-columns: 50px 50px 50px 50px;
  row-gap: 15px;
  column-gap: 15px;
  left: 19px;
  top: 24px;
}

.btn {
  font-family: Inter;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #3b4664;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}
#del {
  background: #647299;
  font-family: Inter;
  font-size: 12px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #ffffff;
}
.Reset_equal button {
  position: relative;
  width: 115px;
  height: 30px;
  border: none;
  outline: none;

  border-radius: 8px;
}
#reset {
  background: #647299;
  color: #ffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
#equal {
  background: #d13f30;
  font-family: Inter;
  font-size: 15px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}
.Reset_equal {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 30px;
}
